<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Class Form</h1>
    <form action="/classes/edit/<%=data.id%>" method="POST">
        <label for="class_name">Class Name:</label><br>
        <input type="text" name="class_name" value="<%=data.class_name%>" required><br><br>
        <label for="schedule">Schedule:</label><br>
        <input type="text" name="schedule" value="<%=data.schedule%>" required><br><br>
        <label for="description">Description:</label><br>
        <input type="text" name="description" value="<%=data.description%>" required><br><br>
        <label for="price">First Price:</label><br>
        <input type="text" name="price" value="<%=data.price%>" required><br><br>
        <input type="submit" value="Edit Class">
        <button><a href="/classes">Cancel</a></button>
    </form>
</body>
</html>