<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 20px 20%;
        }
        input[type=text], select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
        
        input[type=submit] {
          width: 100%;
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }
        
        div {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }
        </style>
</head>
<body>
    <h3>Pilih kelas yang kamu minati</h3>
    <div>
        <form action="/students/addClass/<%= data.id %>" method="POST">
            <div>
                  <input
                  type="hidden"
                  id="UserId"
                  name="UserId"
                  value="<%= data.id %>"
                />
                  <label for="ClassId">kelas bahasa</label>
                  <select id="ClassId" name="ClassId">
                    <option value="">-- pilih kelas -- </option>
                    <% for(let i = 0; i < data.LanguageClasses.length; i++){ %>
                      <% for(let j = 0; j < listClass.length; j++){ %>
                          <option value="<%= listClass[j].id %>"<%= listClass[j].id === data.LanguageClasses[i].UserClasses.ClassId ? 'disabled ="true"' : '' %>>kelas : <%= listClass[j].class_name %> | schedule: <%= listClass[j].schedule %> | desc: <%= listClass[j].description %> |harga: Rp. <%= listClass[j].price %></option>
                   <% }} %>
                  </select>
                
                  <input type="submit" value="submit">
              </div>
        </form>
    </div>
</body>
</html>